footer {
    background-color: rgb(221, 213, 213);
    justify-self: unset;
    margin-top: auto;
    padding-bottom: 42px;
    padding-top: 42px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media li {
    display: flex;
    padding-bottom: 7px;
    padding-top: 7px;
}

.main-footer li {
    list-style-type: none;
    line-height: 2;
    padding-right: 30px;
}
